    // out:  ../css/style.css
    @width: 1920px;
    @ff-Montserrat: 'Montserrat',
    'Arial',
    sans-serif;
    @ffRaleway: 'Raleway',
    'Arial',
    sans-serif;
    @box-sizing: border-box;
    .container {
        width: @width;
        margin: 0 auto;
        border: 1px solid black;
        background-color: aquamarine
    }
    
    .service-class () {
        border: 1px solid red;
    }
    
    .header-item {
        /*         .service-class (); */
        min-height: @width;
        min-height: 1024px;
        padding: 40px 0 0 0;
        box-sizing: @box-sizing;
        background-image: url(../img/1_backheader.png);
    }
    
    .header-logo {
        /*         .service-class (); */
        box-sizing: @box-sizing;
        margin: 0 0 0 376px;
        display: flex;
        float: left;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        text-decoration: none;
        color: #fff;
    }
    
    .header-logo-svg {
        fill: #fff;
        &:hover {
            fill: #fa73ab;
        }
        &:active {
            fill: #faec73;
        }
    }
    
    .header-logo-txt {
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: #ffffff;
        &:hover {
            color: #fa73ab;
        }
        &:active {
            color: #faec73;
        }
    }
    
    .navigation-a {
        /*         .service-class (); */
        float: left;
        width: 637px;
        height: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        box-sizing: @box-sizing;
        margin: 22px 0 0 219px;
    }
    
    .navigation-link {
        //    .service-class ();
        font-family: @ff-Montserrat;
        display: flex;
        font-size: 14px;
        line-height: 11px;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        box-sizing: border-box;
        &:hover {
            color: #c7b299;
        }
        &:active {
            color: #ffffff;
        }
    }
    
    .navigation-div {
        /*         .service-class (); */
        display: flex;
        float: left;
        margin: 15px 0 0 63px;
        width: 70px;
        height: 24px;
        justify-content: space-between;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .navigation-button {
        display: flex;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 24px;
        width: 18px;
        box-sizing: border-box;
    }
    
    .header-main {
        //      .service-class ();
    }
    
    .header-main-a {
        width: 54.15px;
        height: 54.15px;
        display: block;
        float: left;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        opacity: 0.5;
        &:hover {
            border-top: 3px solid #d3c1ad;
            border-right: 3px solid #d3c1ad;
        }
        &:active {
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
        }
    }
    
    .left {
        transform: rotate(-135deg);
        margin: 130.5px 0 0 150px;
    }
    
    .rigt {
        transform: rotate(45deg);
        float: right;
        margin: -130.50px 150px 0 0;
    }
    
    .header-main-div {
        /*         .service-class (); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 589px;
        min-height: 261px;
        margin: 341px 0 0 666px;
    }
    
    .header-main-span {
        display: flex;
        text-align: center;
        font-family: @ffRaleway;
        color: #ffffff;
    }
    
    .span-h2 {
        margin: 0 0 14px 0;
        font-size: 36px;
        font-weight: 500;
        line-height: 34px;
    }
    
    .span-h1 {
        margin: 0 0 19px 0;
        font-size: 52px;
        font-weight: 800;
        line-height: 50px;
    }
    
    .header-main-p {
        display: flex;
        margin: 0 0 52px 0;
        font-family: @ff-Montserrat;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
    }
    
    .header-main-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 53px;
        background-color: #998675;
        border-radius: 3.0px;
        text-decoration: none;
        outline: none;
        &:hover {
            background-color: #8a796a;
        }
        &:active {
            background-color: #998675;
        }
    }
    
    .header-main-button-text {
        font-family: @ffRaleway;
        display: flex;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    .header-main-parination {
        /*        .service-class (); */
        box-sizing: @box-sizing;
        margin: 329px auto 42px auto;
        width: 98px;
        height: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-main-parination-svg {
        fill: #ffffff;
        stroke-width: 1;
        opacity: 0.5;
        &:hover {
            stroke: #d3c1ad;
            stroke-width: 2;
            fill: none;
            transform: matrix(1.2);
            transition: 1s;
        }
        &:active {
            fill: #ffffff;
            stroke-width: 1;
            opacity: 0.5;
        }
    }
